@import '../../styles/variables';

.main-header {
    background-color: $black;
    width: 100%;
    padding: 16px 0;
    $this: &;

    > section {
        display: flex;
        justify-content: space-between;
        max-width: 1024px;
        width: 100%;
        padding: 0 53px 0 27px; //(1024 - 918) / 2
        margin: 0 auto;

        #{$this}__logo {
            height: 45px;
        }

        #{$this}__bag {
            display: flex;
            align-items: flex-end;

            img {
                height: 25px;
                margin-left: 8px;
            }

            p {
                color: $white;
                font-size: 18px;
            }
        }
    }
}